<div class="container-fluid footer">
    <div class="container text-white">
        <div class="row d-flex justify-content-center">
            <p>Correo Electrónico: entopedia@gmail.com</p>
        </div>
        <div class="row d-flex justify-content-center">
            <p>Aplicación sin fines de lucro.</p>
        </div>
        <div class="row d-flex justify-content-center">
            <a class="nav-link" (click)="redirectToFacebook()">
                <i class="fa fa-facebook">acebook</i>
            </a>
        </div>
    </div>


</div>