<section class="container-fluid sec-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">Entopedia</div>
                        <div class="card-text">
                           Aplicacion sin fines de lucro
                        </div>
                    </div>
                </div><!--.card-->
            </div><!--.col-->
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title"></div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-phone ml-3"></i>
                                    <span>00000000</span>
                                </div><!--.col-->
                            </div><!--.row-->
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-map-marker ml-3"></i>
                                    <span>Ciudad Quesada San Carlos</span>
                                </div><!--.col-->
                            </div><!--.row-->
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-envelope-open ml-3"></i>
                                    <span>clubentomologia@utn.ac.cr</span>
                                </div><!--.col-->
                            </div><!--.row-->
                        </div><!--.card-text-->
                    </div>
                </div><!--.card-->
            </div><!--.col-->
            <div class="col text-center">
               
                <br class="clearfix">
                <a href="#" class="snip1472"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Club-de-Entomolog%C3%ADa-UTN-San-Carlos-1186973771382964/" class="snip1472"><i class="fab fa-facebook"></i></a>
                <a href="#" class="snip1472"><i class="fab fa-telegram-plane"></i></a>
                <a href="#" class="snip1472"><i class="fab fa-google-plus-g"></i></a>
            </div><!--.col-->
        </div><!--.row-->
    </div>
</section>
<section class="container-fluid sec-sub-footer">
   