<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/inicio">Entopedia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item col-md-6 d-flex justify-content-md-start">
        <a class="nav-link" href="/buscar">Buscar</a>
      </li>
      <li class="nav-item col-md-6 d-flex justify-content-md-end">
        <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
      </li>
    </ul>
  </div>
</nav>